@charset "ISO-8859-1";

    .front{
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }

    #logo{
        width: 300;
        height: 300;
        margin-left: 5%;
        margin-top: 2%;
        position: absolute;
        z-index: 1;
    }

    #bgr{
        z-index: 0;
    }

    #formDiv{
        z-index: 2;
        margin-top: -1%;
    }
