<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <p th:text = "${name}"></p>

    <table border="1" id = "clinicsTable">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Opis</th>
            <th>Slobodni termini</th>
            <th>Doktori</th>
            <th>Cenovnik</th>

        </tr>
        <tr th:each = "clinic : *{clinics}">
            <td th:text = "${clinic.name}"></td>
            <td th:text = "${clinic.address}"></td>
            <td th:text = "${clinic.description}"></td>
            <td th:text = "${clinic.availableDates}"></td>
            <td th:text = "${clinic.doctors}"></td>
            <td th:text = "${clinic.cenovnik}"></td>
        </tr>

    </table>
</body>
</html>