<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body{
            background-image: url("images/background.jpg");
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: coral;"><span th:text = "${msg}"></span></h1>

</body>
</html>