<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

body{
    background-image: url("images/background.jpg");
}

.front{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

    <script>

    function addDiagnosis(){
        $.ajax({
            url: "/addDiagnosis",
            method: "POST",
            data: JSON.stringify({code: $("#code").val(), latin: $("#latin").val()}),
            contentType: "application/json",
            complete: function(){
            	
                location.href = "diagnoses";
            }
        })

    }       

    </script>
</head>
<body>
    <div class = "uk-panel uk-position-large uk-position-center-top" >
    <form>
        <fieldset class="uk-fieldset">
    
            <legend class="uk-legend uk-text-warning">Diagnosis info</legend>
    
            <div class="uk-margin">
                <label class="uk-form-label uk-text-primary" for="code">Code:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="code" type="text" placeholder="ex. 344125">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label uk-text-primary" for="latin">Name:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="latin" type="text" placeholder="Polycythemia rubra vera">
                </div>
            </div>
            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom " onclick="addDiagnosis()">Add</button>
        
        </fieldset>
    </form>
    </div>  
    
    <div class = "uk-panel uk-position-large uk-position-top-center" >
        <legend class="uk-legend uk-text-warning">Diagnosis list</legend>
        <table class="uk-table">
            <thead >
                <tr>
                    <th class = "uk-text-primary">Code</th>
                    <th class = "uk-text-primary">Name</th>         
                </tr>
            </thead>
            <tbody>
                <tr th:each = "diagnosis : *{diagnoses}">
                    <td class = "uk-text-warning" th:text = "${diagnosis.code}"></td>
                    <td class = "uk-text-warning" th:text = "${diagnosis.latin}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>