<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <style>
        html{
      background-image: url('images/background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      }
    .front{
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
      
      </style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Make new exam</title>

    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <script  type="text/javascript">

        function book(){
                type = $("#typeSel :selected").val()
                time = $("#time").val()
                date = $("#datepicker").val()
                name = $("#name").val()
                if(type != 1){
                    name = "////"
                }
                if(type == "" || time == "" || date == ""|| name == ""){
                //  $("#errMsg").text("Both fields must be filled.")
                /*    $("#errMsg").hide()
                    $("#errMsg").fadeIn("3000")*/
                    $("#errMsg").text("All fields must be filled.")
                    $("#errMsg").hide()
                    $("#errMsg").fadeIn("3000")
                }else{
                    $("#errMsg").empty()
                //   $("#errMsg").hide()
                //  UIkit.modal.alert("Success!")
                $("#spinner").attr("hidden", false)
                    $.ajax({
                        url: "bookAppoByDr",
                        method: "POST",
                        data: JSON.stringify({type:type,  time:time, date:date,patient:9999, name:name}),
                        contentType: "application/json",
                        dataType: "JSON",
                        success: function(){
                            $("#spinner").attr("hidden", true)
                            UIkit.modal.alert("Success!")
                        }
                    })
                }
            }




    </script>


</head>
<body>
    <img id = "bgr" src="/images/background.jpg">
    <li>
        <form class="uk-form-vertical uk-width-1-2 uk-inline uk-position-left"  action="" onsubmit="return false" >
            <div class="uk-margin">
                <label class="uk-form-label uk-text-warning uk-text-large" >New exam </label>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label uk-text-primary uk-text-large" >Date: </label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-2" id="datepicker" type="text" readonly >
                </div>
            </div>
    
            <div class="uk-margin">
                <label class="uk-form-label uk-text-primary uk-text-large" >Time: </label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-2" id="time" type="text" readonly>
                </div>
            </div>
    
            <div class="uk-margin">
                <label class="uk-form-label uk-text-primary uk-text-large" for="app_price">Type: </label>
                <div class="uk-form-controls">
                    <select class = "uk-select uk-width-1-2" name="" id="typeSel" onchange="change()">
                        <option value="1">Surgery</option>
                        <option th:each = "type : *{types}" th:text = "${type.name}" th:value = "${type.id}"  >Option 01</option>
                        
                    </select>
                </div>
            </div>
    
            <div class="uk-margin" id="surgery">
                <label class="uk-form-label uk-text-primary uk-text-large" >Surgery name: </label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-2" id="name" type="text" >
                </div>
            </div>
            
            
            <div class = "uk-display-inline uk-text-primary ">
                <div class="uk-margin">
                    <button type="button" class="uk-button uk-button-primary uk-button-large uk-width-1-2" onclick="book()">Book Appointment</button>
                </div>
            </div>
    
            <div class="uk-margin"> 
                <label style="display: none;"  class="uk-form-label uk-text-danger uk-text-large uk-text-bold " id="errMsg">&nbsp;</label>               
            </div>
            <div class = "uk-display-inline uk-text-primary  ">
            <span  hidden id= "spinner"  uk-spinner="ratio: 1"></span>
        </div>
    
        </form>
            
        
    </li>


</body>
</html>